* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

html {
    font-size: 16px;
}

/* TODO implement tailwind */
.hnds-button {
    outline: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1.25rem;

    background-color: #14b8a6;
    color: #ffffff;
    text-decoration: none;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.hnds-button:hover {
    background-color: #2dd4bf;
}

.hnds-button:visited {
    color: #ffffff;
}

.hnds-button:focus-visible {
    --tw-ring-color: #3b82f6;
    --tw-ring-offset-color: #ffffff;
    --tw-ring-offset-width: 2px;
    --tw-ring-shadow: 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);

    box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);

    background-color: #2dd4bf;
}

.main-title {
    max-width: 48rem;

    margin: 8rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title .name {
    color: #1e293b;
    font-size: 1.25rem;
    line-height: 1.75rem
}

.main-title .heading {
    margin-bottom: 0.75rem;

    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
}

.held-creet {
    z-index: 10;

    cursor: grabbing !important;

    &>div {
        box-shadow: 0 0px 6px 4px rgba(0, 0, 0, .25);
    }
}

.healthy-creet {
    &>div {
        background-color: rgb(107 33 168);
    }
}

.sick-creet {
    &>div {
        background-color: rgb(251 113 133);
    }
}

// TAILWIND //

// Layout

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.overflow-hidden {
    overflow: hidden;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

// Flexbox & Grid

.flex-col {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.gap-16 {
    gap: 4rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

// Spacing

.px-6 {
    padding: 1.5rem;
}

.py-4 {
    padding: 1rem;
}

.mt-20 {
    margin-top: 5rem;
}

.mr-1\.5 {
    margin-right: 0.375rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

// Sizing

.w-full {
    width: 100%;
}

.w-\[900px\] {
    width: 900px;
}

.min-w-64 {
    min-width: 16rem;
}

.h-\[675px\] {
    height: 675px;
}

.size-4 {
    width: 1rem;
    height: 1rem;
}

.size-full {
    width: 100%;
    height: 100%;
}

// Backgrounds

.bg-amber-50 {
    background-color: rgb(255 251 235);
}

.bg-green-300 {
    background-color: rgb(134 239 172);
}

.bg-teal-800 {
    background-color: rgb(17 94 89);
}

.bg-purple-800 {
    background-color: rgb(107 33 168);
}

.bg-rose-400 {
    background-color: rgb(251 113 133);
}

// Borders

.rounded {
    border-radius: 0.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

// Interactivity

.cursor-grab {
    cursor: grab;
}

.select-none {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}
